/*  General Objects  */

		@font-face {
			font-family: 'ModernPictogramsNormal';
			src: url('Fonts/modernpics-webfont.woff') format('woff');
			font-weight:normal;
			font-style:normal;
			}

		@font-face {
			font-family: 'Typicons';
			src: url('Fonts/typicons-regular-webfont.woff') format('woff');
			font-weight: normal;
			font-style: normal;
			}

/*
		@font-face {
			font-family: 'Arvo';
			src: url('http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic') format('woff');
			font-weight: normal;
			font-style: normal;
			}
*/
		body {
			margin: 0px;
			font-family:'Arvo';
			font-size: 15px;
			color: black;
			line-height: 18px;
			text-align: center;
			font-weight: normal;
			}

		div.A {
			position: relative;
			display: block;
			float: center;
			background: #f7faff; /* Old browsers */
			background: -moz-linear-gradient(top,  #f7faff 0%, #c8e9fa 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7faff), color-stop(100%,#c8e9fa)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #f7faff 0%,#c8e9fa 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7faff', endColorstr='#c8e9fa',GradientType=0 ); /* IE6-9 */
		}

		div.B {
			background: #F7FAFF;
		}

		div.C {
			position: relative;
			background: #f7faff; /* Old browsers */
			background: -moz-linear-gradient(top,  #f7faff 0%, #c8e9fa 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7faff), color-stop(100%,#c8e9fa)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #f7faff 0%,#c8e9fa 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7faff', endColorstr='#c8e9fa',GradientType=0 ); /* IE6-9 */
		}

		div.D {
			position: relative;
			display: block;
			clear: both;
			z-index: -3;
			background: #c8e9fa; /* Old browsers */
			background: -moz-linear-gradient(top,  #c8e9fa 0%, #f7faff 24%, #f7faff 76%, #c8e9fa 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8e9fa), color-stop(24%,#f7faff), color-stop(76%,#f7faff), color-stop(100%,#c8e9fa)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #c8e9fa 0%,#f7faff 24%,#f7faff 76%,#c8e9fa 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #c8e9fa 0%,#f7faff 24%,#f7faff 76%,#c8e9fa 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #c8e9fa 0%,#f7faff 24%,#f7faff 76%,#c8e9fa 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #c8e9fa 0%,#f7faff 24%,#f7faff 76%,#c8e9fa 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8e9fa', endColorstr='#c8e9fa',GradientType=0 ); /* IE6-9 */
		}

		div.E {
			position: relative;
			height:200px;
			background: #c8e9fa; /* Old browsers */
			background: -moz-linear-gradient(top,  #c8e9fa 40%, #f7faff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#c8e9fa), color-stop(100%,#f7faff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #c8e9fa 40%,#f7faff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #c8e9fa 40%,#f7faff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #c8e9fa 40%,#f7faff 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #c8e9fa 40%,#f7faff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8e9fa', endColorstr='#f7faff',GradientType=0 ); /* IE6-9 */

			}

		div.F {
			position: relative;
			background: #f7faff; 
		}

		div.G {
			position: relative;
			background-color:#00a69c; 
			top:-2px;
		}


	div.content {
		float:none;
		background: #c8e9fa;
		padding-bottom:150px;
	}

	div.content2 {
		float:none;
		background: #f7faff;
		padding-bottom:100px;
	}

	div.content3 {
		float:none;
		background: #00a69c;
		padding-bottom:200px;
	}

/* IMAGES */

		img.transition {
			width: 100%;
		}

		img.logo {
			width: 500px;
			margin:100px;
		}

		img.logos {
			width:500px;
			margin:60px;
		}

		img.mirrorhouse {
			width: 720px;
			border-radius: 5px;
			box-shadow: 1px 1px 11px rgba(50, 50, 50, 0.69);
			margin-top: 50px;
			margin-bottom:10px;
		}

		img.touchscreen {
			width: 340px;
			border-radius: 4px;
			box-shadow: 1px 1px 11px rgba(50, 50, 50, 0.4);
			margin-top: 50px;
			margin-bottom:10px;

		}

		img.school-logo {
			position: relative;
			padding: 2px;
			height: 24px;
			top: -3px;
		}

		img.we {
			margin:30px;
		}

		img.hansens {
			margin:30px;
			margin-bottom:100px;
		}

		img.arrowdown {
			width:75px;
			margin-bottom:55px;
		}

		img.humanature {
			margin-top:35px;
		}

		img.icons {
			width:600px;
		}

/* TEXTS */

		h2 {
			font-family: 'Lobster';
			padding-top: 88px;
			color:#31393d;
			display:block;
			text-align:center;
			font-size: 48px;
			line-height: 40px;
			z-index: 1;
			font-weight: normal;
			font-style: normal;	
			}


		p {
			font-size: 16px;
			line-height: 36px;
			position: relative;
			padding: 20px;
		}

		p.caption {
			width: 660px;
			margin:auto;
			float:center;
			font-size: 16px;
			line-height: 20px;
			position: relative;
			padding: 10px;	
		}

		a {	
			color:white;
		}

		a:hover {
			color: yellow;
		}
		}
		.font-icons1 {
			font-family: 'typicons';
			}

		.font-icons2 {
			font-family: 'ModernPictogramsNormal';
			}

		iframe.video {
				margin-top: 50px;
				margin-bottom:10px;
				border-radius: 5px;
			}



