/*  General Objects  */

		@font-face {
			font-family: 'ModernPictogramsNormal';
			src: url('Fonts/modernpics-webfont.woff') format('woff');
			font-weight:normal;
			font-style:normal;
			}

		@font-face {
			font-family: 'Typicons';
			src: url('Fonts/typicons-regular-webfont.woff') format('woff');
			font-weight: normal;
			font-style: normal;
			}

/*
		@font-face {
			font-family: 'Arvo';
			src: url('http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic') format('woff');
			font-weight: normal;
			font-style: normal;
			}
*/
		body {
			margin: 0px;
			font-family:'Arvo';
			font-size: 15px;
			color: black;
			line-height: 18px;
			font-weight: normal;
			z-index: 2;
			}

		div.A {
			position: relative;
			display: block;
			float: center;
			background: #f7faff; /* Old browsers */
			background: -moz-linear-gradient(top,  #f7faff 0%, #c8e9fa 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7faff), color-stop(100%,#c8e9fa)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #f7faff 0%,#c8e9fa 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7faff', endColorstr='#c8e9fa',GradientType=0 ); /* IE6-9 */
		}

		div.B {
			background: #F7FAFF;
		}

		div.C {
			position: relative;
			height:800px;
			background: #f7faff; /* Old browsers */
			background: -moz-linear-gradient(top,  #f7faff 0%, #c8e9fa 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7faff), color-stop(100%,#c8e9fa)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #f7faff 0%,#c8e9fa 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7faff', endColorstr='#c8e9fa',GradientType=0 ); /* IE6-9 */
		}

		div.D {
			position: relative;
			background: #c8e9fa; /* Old browsers */
			background: -moz-linear-gradient(top,  #c8e9fa 0%, #f7faff 24%, #f7faff 76%, #c8e9fa 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8e9fa), color-stop(24%,#f7faff), color-stop(76%,#f7faff), color-stop(100%,#c8e9fa)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #c8e9fa 0%,#f7faff 24%,#f7faff 76%,#c8e9fa 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #c8e9fa 0%,#f7faff 24%,#f7faff 76%,#c8e9fa 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #c8e9fa 0%,#f7faff 24%,#f7faff 76%,#c8e9fa 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #c8e9fa 0%,#f7faff 24%,#f7faff 76%,#c8e9fa 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8e9fa', endColorstr='#c8e9fa',GradientType=0 ); /* IE6-9 */
		}

		div.E {
			position: relative;
			height:800px;
			background: #c8e9fa; /* Old browsers */
			background: -moz-linear-gradient(top,  #c8e9fa 40%, #f7faff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#c8e9fa), color-stop(100%,#f7faff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #c8e9fa 40%,#f7faff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #c8e9fa 40%,#f7faff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #c8e9fa 40%,#f7faff 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #c8e9fa 40%,#f7faff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8e9fa', endColorstr='#f7faff',GradientType=0 ); /* IE6-9 */

			}

		div.F {
			position: relative;
			background: ##f6faff;
		}

		div.G {
			position: relative;

		}


		div.transition1 {
			display: block;
			float: center;
			position: relative;
		}

		div.transition2 {
			position: relative;
			display: block;
			float: center;
			z-index:1;
		}

		div.transition3 {
			height: 1201px;
			position: relative;
			z-index:1;
			display: block;
			float: center;
		}

		img.transition {
			width: 100%;
		}

		div.content1 {
			height: 1200px;
			width: 100%;
			background: #f7faff; /* Old browsers */
			background: -moz-linear-gradient(top,  #f7faff 0%, #c8e9fa 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7faff), color-stop(100%,#c8e9fa)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #f7faff 0%,#c8e9fa 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7faff', endColorstr='#c8e9fa',GradientType=0 ); /* IE6-9 */
			position: relative;
			margin-bottom:0px;
			z-index:-1;
			display: block;
			float: center;
		}


		div.content2 {
			height: 1800px;
			width: 100%;
			background: #f7faff; /* Old browsers */
			background: -moz-linear-gradient(top,  #f7faff 0%, #c8e9fa 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7faff), color-stop(100%,#c8e9fa)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f7faff 0%,#c8e9fa 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #f7faff 0%,#c8e9fa 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7faff', endColorstr='#c8e9fa',GradientType=0 ); /* IE6-9 */
			position: relative;
			margin-bottom:0px;
			z-index:-1;
			display: block;
			float: center;
		}

		div.content3 {
			height: 1200px;
			width: 100%;
			background: #00a69c;
			position: relative;
			margin-bottom:0px;
			margin-top: 0px;
			z-index:-1;
			display: block;
			float: center;
		}




/*		div.center {
			float: center;
			display: block;
			width: 700px;
			margin:auto ;
			margin-bottom: 10px;
			color: #d4bb78;
			background-color: white;
			border-radius: 4px;
			z-index:0;
			box-shadow: 3px 3px 30px #e1d3b5;
			}*/

		h2 {
			font-family: 'Arvo';
			padding: 120px;
			color:#31393d;
			display:block;
			text-align:center;
			font-size: 32px;
			line-height: 40px;
			z-index: 1;
			font-weight: normal;
			font-style: normal;				
			}

		.font-icons1 {
			font-family: 'typicons';
			}

		.font-icons2 {
			font-family: 'ModernPictogramsNormal';
			}


/*  Footer  */

		footer {
			background-color:#6a6357;
			padding-bottom: 80px;
		}

		div.footer {
			text-align: center;
			display: block;
			width: 100%;
			position: relative;
			padding-top:-70px;
			padding-bottom:145px;
			color:white;
		}

		a.footer {
			color:#d4bb78;
		}

		a.footer:hover {
			color: #e6d6ab;
			text-decoration: none;
		}

		img.footerlogo {
			position:relative;
			float:center;
			display: block;
			z-index: 2;
			top:-110px;
			width: 200px;
			height: 200px;
			margin:auto;
			box-shadow: 3px 3px 20px #31393d;
			border-radius: 100px;
			top:-90px;
		}

		h1.footer {
			font-family:'rutz-reg';
			font-size:38px;
			width:100%;
			text-align: center;
			margin:0px;
			padding:0px;
			line-height: 44px;
			color:white;
			clear: both;
			font-weight: normal;
			font-style: normal;
		}

		.mocca {
			color: #d4bb78;
		}

		table.contact {
			border-color: white;
			width: 660px;
			margin:auto;
			background-color: transparent;
			border-radius:3px;
		}

		h3.contact {
			padding: 0px;
			margin: 0px;
			margin-top:0px;
			margin-bottom:2px;
			font-size: 20px;
			width: 200px;
			color: white;
			text-align: center;
			font-weight: normal;
			font-style: normal;
		}

		td.contact {
			width:180px;
			/* padding-right:25px; */
			padding-left:50px;
			padding-bottom: 25px;
			color: #c3c8ca;
			text-align: center;
			font-size:14px;
		}
		
		td.contactlefty {
			width:180px;
			padding-right: 0px;
			padding-left: 0px;
			padding-bottom: 25px;
			color: #c3c8ca;
			text-align: center;
			font-size:14px;	
		}

		.icon {
			font-family: 'ModernPictogramsNormal';
			font-size:120px;
			line-height: 100px;
			color: #847a69;
			text-align: center;
			text-shadow: 0px 1px 4px #585249;
			font-weight: normal;
			font-style: normal;

		}



		.smallicon {
			font-family: 'ModernPictogramsNormal';
			font-weight: normal;
			font-size:50px;
			text-align: center;
			text-shadow: 0px 1px 3px #c3c6c8;
			position: relative;
			top:1px;
			font-weight: normal;
			font-weight: normal;
			font-style: normal;

		}

		.typicon {
			font-family: 'Typicons';
			font-size:16px;
			position: relative;
			top:1px;
			vertical-align: bottom;
			font-weight: normal;
			font-style: normal;

		}

		.wierdcolor {
			font-family: 'ModernPictogramsNormal';
			font-size:50px;
			text-align: center;
			position: relative;
			top:1px;
			font-weight: normal;
			color: #847a69;
			text-shadow: 0px 1px 3px #585249;
			font-weight: normal;
			font-style: normal;

		}



