body {
	background: #33302f;
	direction: rtl;
	height:100%;
	padding-bottom:100px;
	overflow-y:none;

}

div.flexslider {
	float:auto;
	width:513px;
	height:513px;
	margin:auto;
	margin-top:6%;
	vertical-align: middle;
	border:0px;
	box-shadow: 3px 3px 12px #252424;
	overflow-y:none;
}

ul.slides {
	overflow-y:none;
}

img {
	border-radius: 4px;

}

p.intro {
	text-align: center;
	color: gray;
	font-size:14px;
	font-style: normal;
	overflow-y:none;
}