/* TYPOGRAPHY */

@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

@font-face {
	font-family: 'Typicons';
	src: url('Fonts/typicons-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}


@font-face {
	font-family: 'ModernPictogramsNormal';
	src: url('Fonts/modernpics-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}

body {
	margin: 0px;
	font-family: 'Alef Hebrew', Arial, sans-serif;
	font-weight: normal;
	font-size: 26px;
	line-height: 28px;
	direction: rtl;
	background-color: #d9d2bd;
	color:black;
	}

/* HEADER */

div {
	font-family: 'Alef';
	}

div.central {
	width:90%;
	margin:auto;
	margin-top:10%;	
	}

div.margin-medium {
	margin-top:100px;
	}

div.margin-small {
	margin-top:25px;
	}

h1 {
	font-size:100px;
	line-height: 85px;
	margin:auto;
	text-align: center;
	font-weight: normal;
	}

h2 {
	font-size:34px;
	line-height: 38px;
	margin:auto;
	text-align: center;
	font-weight: normal;
	}

/* FORMS */

input {
	background-color:white;
	color:black;
	border-radius: 2px;
	border:0px;
	border-color:transparent;
	height:80px;
	font-size: 34px;
	font-family: 'Alef';
	padding:0;
	font-weight: normal;
	margin:auto;
	margin-top:3%;
	text-align: center;
	width:100%;
	}

input::-webkit-input-placeholder {
		color: #d9d2bd;
	}

input.form_send {
	color:white;
	background-color: black;
	border-radius:2px;
	border:0px;
	font-family: 'Alef';
	font-weight: normal;
	}


/* INFOGRAPHICS MOBILE */

.green {
	background-color: green;
	}

div.item {
	text-align: center;
	width:33%;
	float:right;
	margin-bottom:50px;
	}

p.numbers {
	font-size: 60px;
	line-height:40px;
	margin:0px;
	margin-top:10px;
}

p.description {
	font-size: 24px;
	line-height:34px;
	margin:0px;
}