@font-face {
    font-family: 'Abraham';
/*    src: url('abraham-regular-webfont.eot');
*/    /*src: url('abraham-regular-webfont.eot?#iefix') format('embedded-opentype');*/
    src: url('abraham-regular-webfont.woff') format('woff');
/*	url('abraham-regular-webfont.ttf') format('truetype'),
    url('abraham-regular-webfont.svg#abrahamregular') format('svg');*/
    font-weight: normal;
    font-style: normal;
}


body {
	margin: 0px;
	width:100%;
	overflow-x:hidden;
	font-family:"Abraham";
	direction: rtl;
	background-color: #ededed;
	text-align: center;
	font-weight: normal;
    font-style: normal;
}

div {
}

div.cover {
	background-image: url('../img/cover.jpg');
	background-repeat: no-repeat;
    background-position: top center;
    background-size: 200%;
	width: 100%;	
	height: 95vh;	
	margin: 0px;
	margin-top: 0px;
}

div.coverInner {
	margin:auto;
}

div.januzaj {
	margin: auto;
	position:relative;
	width:55%;
	text-align: center;
	margin-bottom:100px;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
    font-style: normal;
    color:#333;

}

h1 {
	font-size: 11vw;
}

h1.abraham {
margin: 0px;
}

h1.abraham, h2.abraham {
	color:white;
}

h2 {
	font-size: 5vw;
}

img {

}

img.cover {
	width: 100%;
	margin:0;
}

img.januzaj {
	margin:17vh auto 10vh auto;
	width:100%;
}


p {
	color: #444;
	font-size: 1em;
	line-height:1.2em;

}

p.esti {
	width:110%;
	overflow: auto;
	margin: auto;
	text-align: right;
	font-size: 1.75vw;
	letter-spacing: 0.6px;
}

p.esti-name {
	text-align:left;
	float:left;
	font-size: 1.75vw;
	margin-bottom: 5vw;
}

.pink { color:#fd8da1; }

.blue { color:#3bb7e8; }


hr {
	height:20px;
	width:99%;
	background-image: url('../img/hr.svg');
	background-repeat: repeat-x;
	border:0;
	margin: 45px 10px;
	border-style: 0;
	z-index: -1;
/*	float:right;
*/
}


table {

/*	background-color: blue;
*/}

table.mots {
	color:#333;
	margin:auto;
	width:80%;
	font-size: 3.5vw;
	line-height: 2em;
	margin-bottom:6vh;
}



/* differences */

img.differences {
	position:relative;
}

h3.differences {
	text-align: right;
	position:relative;
	font-size: 1.5em;
	margin-bottom: 0.3em;
	width: 270px;
	margin-right:55%;	
}

p.differences {
	position: relative;
	text-align: right;	
	width: 270px;	
	margin-right:55%;
	margin-bottom: 20px;
}

img.sheen {
	float:right;
	width:24%;
	margin-right:27%;
	margin-top:-3vh;
}

img.sheen2 {
	float:left;
}

img.line {
	width:100%;
	margin-bottom: 5vh;
	margin-top: 13vh;
}

img.grid {
	width:45%;
	margin-right: 5%;
	float:right;
	top: -40px;
}

img.cuts {
	width:15%;
	float:left;
	margin-left:6%;
	top:-4em;
	margin-bottom: 30px;
}

div.differences {
	margin-top: 8vh;
	width:100%;
	overflow-x:none;
}

p.line, p.grid {
	margin-bottom:40px;
}


table.walla {
	width:95%;
	margin: auto;
	margin-bottom:80px;
}

p.para {
	max-height:120vh;
	overflow: hidden;
	vertical-align: top;	
	text-align: right;
	font-size: 1.2em;
	line-height: 1.35em;
	padding:15px;
}

p.paraHe, p.paraAr {
	margin-top:0px;
	margin-bottom: 0px;
}

footer {
	background-color: #333;
	width:100%;
	margin-bottom:0px;
	float:right;
}

div.want {
	background-color: #fd8da1;
	width:100%;
	height:300px;
	float:right;
}

img.kaf {
	width:8%;
	margin: 9vw auto 12vw auto;
}

div.similarities {
	width:100%;
	overflow-x:scroll;
	overflow-y:hidden;
	float:right;
	margin-left:8%;
}

img.similarities {
	width:320%;
	margin-bottom: 2.6%;
	margin-right: 5vw;
	margin-left: 3vw;
}

div.blowups {
	text-align: right;
	width:100%;
	overflow-y:hidden;
	overflow-x:scroll;
	padding-bottom:25px;
	margin-top:-8vh;
}

::-webkit-scrollbar { 
    display: none; 
}

h3.blowups {
	font-size:26vw;
	letter-spacing: 10px;
	margin-right: 4%;
	margin-left: 4%;
	margin-top:4%;
	margin-bottom:0px;
}

.transparent {
	opacity: 0;
}

img.tovim {
	float:left;
	margin-top: 10px;
	margin-left:11%;
	width:18%;
}

h3.tsayad {
	margin-top: 15px;
	text-align:right;
	float:right;
	font-size: 11vw;
	line-height: 10.5vw;
	width:50vw;
	margin-right:5%;
	margin-bottom:5vh;

}

h4.evyatar {
	border-style: solid none;
	border-width: 1px;
	border-color:#999;
	width:30%;
	float:left;
	margin-left: 5%;
	margin-top: 100px;
	padding: 15px 0px 17px 0px;
	font-size: 2.6vw;
}


table.panagrams {
	text-align: right;
	width:90%;
	margin:auto;
	clear:right;
}

td.panagrams {
	padding-bottom: 15px;
	padding-top: 20px;
}

td.pan-ar {
	width:50vw;
	padding-left:6%;
}

p.p1, p.p2, p.p3, p.p4 {
	margin-bottom: 1vw;
	margin-top: 1vw;
	clear:right;
}

p.p1 {
	font-size: 5.6vw;
}

p.p2 {
	font-size: 3.4vw;

}

p.p3 {
	font-size: 2.6vw;
}

p.p4 {
	font-size: 1.8vw;
}



hr.short {
	width:3vw;
	background-color: #999;
	height:1px;
	background-image: none;
	margin-right:2px;
	margin-top:0px;
	clear:none;
}

table.lahem {
	width:93%;
	margin-right: 5%;
	float:right;
}


td.lahem {
	text-align: right;
	margin:0;
	padding:0;
	padding-bottom: 25px;
	padding-left:3%;
}

div.lahem {
	text-align: center;
	margin:auto;
	position: relative;
}


h1.lahem, h2.lahem, h3.lahem, h4.lahem, h5.lahem, h6.lahem {
	margin: 10px 0px;
	position: relative;	
}

hr.spaced {
	margin: 8vh 10px;
}

h1.lahem {
	font-size:7vw;
	right:-0.4vw;
}

p.lahem1 {
	font-size: 2.35vw;
	width: 42vw;
}

h2.lahem {
	font-size:6.3;
	right:-0.35vw;
}

p.lahem2 {
	font-size: 2.2vw;
	width: 38vw;
}

h3.lahem {
	font-size:5.6vw;
	right:-0.3vw;

}

p.lahem3 {
	font-size: 2vw;
	width: 35vw;
}

h4.lahem {
	font-size:4.9vw;
	right:-0.25vw;

}

p.lahem4 {
	font-size: 1.8vw;
	width: 33vw;
}

h5.lahem {
	font-size:4.2vw;
	right:-0.2vw;

}

p.lahem5 {
	font-size: 1.6vw;
	width: 29vw;
}

h6.lahem {
	font-size:3.5vw;
	margin-bottom: 7px;
	right:-0.15vw;

}

p.lahem6 {
	font-size: 1.4vw;
	width: 25vw;
}


input.sendEmail{
	position:relative;	
	width:30vw;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	text-align: center;
	font-size: 2vw;
	border-width: 0;
	padding:11px 0px 13px 0px;
	font-family:"Abraham", "Sans-Serif";
	font-style: normal;
	font-weight: normal;
	float:center;
	margin: 0px 5%;	
	right:13%;
	box-shadow: 3px;
}

input:focus {
	background-color: white;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

input.fill {
	background-color: #eee;
	color:#333;
	margin-bottom: 2vh;
}

input.back {
	margin-top: -10vw;
	width:15vw;
	background-color: #333;
	color:white;
	right:0;
}

input.send { 
	background-color: #333;
	color:white;
}

input.fill:focus {
	background-color: white;
	outline: none;
}

input.fill:focus::-webkit-input-placeholder {
  color: transparent;
}

input.fill:hover {
	background-color: #fff;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;	
}

input.send:hover, input.back:hover {
	background-color: #000;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;	

}

.want {
	text-align: right;
	color:white;
	float:right;
}

p.want {
	margin-right: 5vw;
	width:30vw;
	font-size: 1.6vw;
	margin-bottom: 25vw;
	margin-top: 0px;
}

h2.want {
	width:90%;
	font-size: 4vw;
	margin-right: 5vw;
	margin-top: 3vw;
	margin-bottom: 2vw;
}

div.want {
	padding-bottom: 7vw;
}


.outer 
{ 
position: relative; 
margin: 20px auto; 
border: 0px solid red; 
} 

.inner { 
position: absolute; 
width: 100%; 
height: 50%; 
top: 20%; 
left: 0;
right: 0;
margin: 0 auto;
}

h3.foot {
	position: relative;
	font-size: 30px;
	bottom: 1.7vw;
}

p.foot {
	color:white;
	height:300px;
	padding-top: 1%;
}

.foot {
	float:right; 
	text-align: right;
}

footer {
	padding-top:20px;
	position: relative;
}

table.footable {
	width:90%;
	margin:auto;
}

td.sheen2 {
	vertical-align: top;
	padding-top: 2%;
}

td.footd {
	width:20vw;
	vertical-align: top;
}

td.footh3 {
	width:15vw;
	vertical-align: top;
}

.eng {
	font-family: Sans-Serif;
	font-weight: normal;
	font-style: normal;
	font-size:90%;
}

div.kifak{
	text-align: center;
}

img.kifak {
	width:8%;
	position: absolute;
	margin:auto;
	left:44%;
}


hr.last {
	margin-bottom: -12px;
}

h1.thanks {
	margin-top: 22vh;
}

a {
	color:white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.logo {
	padding-top: 10vh;
	float: right;
	width: 100%;
	height: 70vh;
}
div.logo p {
	width:100%;
	position: absolute;
	text-align: center;
	font-size:20vw;
}


#randheb, #randarab {
	float:auto;
	margin: auto;
	opacity:0.6;	
}


div.site {

}

div.nosite {
	direction:ltr;	
	display:none;
}

p.nosite {
	color:#545653;
}

h1.nosite {
	color:#545653;
}

h2.nosite {
	color:#545653;
}

h1.nosite {
	font-size: 120px;
}

h2.nosite  {
	font-size: 46px;
}

p.nosite {
	font-size: 26px;
}

img.nosite {
	position:relative;
	width:50px;
	margin:10px;
}

img.nosite:hover {
	top:-2px;
}



h2.nosite {

}

