body{
	background-color: white;
	color:#ddd;
	font-family:'Arial';
	font-weight:normal;
}

div.all {
	background-color: #710000;
	width:640px;
	height:260px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	padding:10px;
}

div.image2, div.image1, div.mustard {
	height:160px;
	width:160px;
	margin:6px;
	float:left;
	background-color: white;
	border:1px;
	border-style: solid;
	border-color: white;
}

h1 {
	font-weight: normal;
	font-size:24px;
	margin-top: 6px;
	margin-bottom:0px;
	margin-left:5px;
}

div.mustard {
	background-color: #ffd858;
	width:270px;
	text-align: center;
}


img.btn {
	margin-top:10px;
}

img.nir {
	width:100%;
}

p.capacha {
	text-align:right;
	margin-top:10px;
	margin-right:14px;
}